.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  position: fixed;
}

.right_nav {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.home_btn {
  display: none;
}

.profile_img {
  border-radius: 100px;
}

@media (max-width: 767px) {
  .navbar {
    overflow-x: scroll;
    height: 3rem;
    margin-left: auto;
    // background-color: #202c6c;
    background-color: rgb(194, 194, 194);
    z-index: 9;
  }

  .right_nav {
    margin-left: 0;
  }

  .home_btn {
    display: block;
  }
}
