.navbar {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

.right_nav {
  margin-left: auto;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.nav_item {
  color: white;
  font-size: 22px;
}

.profile_img {
  border-radius: 100px;
}
